h3 {
    font-family: 'Pretendard-Thin';
    color: #ffffff;
    text-align: center;
    font-style: italic;
    font-weight: lighter;
    font-size: 20px;
}

.menu * {
    display: inline;
}

.menu li {
    margin: 35px;
}

.menu li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.menu ul {
    padding-left: 0px;
}

.menu {
    font-size: 20px;
    font-style: italic;
    align-items: center;
    text-align: center;
    padding-top: 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
} 


.one {
    background-size: cover;
    text-align: center;
    padding-top: 180px;
    padding-bottom: 190px;
}
hr{
    width: 170px;
    position: relative;
    left: -218px;
    top: -19px;
}


.profile {
    border-radius: 30%;
    display: inline-block;
    padding: 0.5rem;
    margin-top: 20px;
    border: 1px solid gray;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgb(255, 255, 255, 0.5);
}

.profile img {
    border-radius: 30%;
}


.intext {
    color: #9e8383;
    position: relative;
    right: 300px;
}
table{
    position: relative;
    left: 700px;
    bottom: 90px;
}
caption{
    text-align: left;
    color: #000;
    font-weight: 900;
}

.ct {
    margin-top: 80px;
    font-family: 'Roboto Slab', serif;
    text-decoration: none;
    color: white;
    font-size: 50px;
    font-style: italic;
    margin: 35px;
    position: relative;
    left: 80px;
}
.google{
    width: 200px;
    position: relative;
    left: 200px;
    top: 150px;
}